/* CSS Document */
*
{
	margin: 0;
	padding: 0;
}



body
{
	margin: 0 auto;
	padding: 0;
	font-size: 1em;
	text-align: center;
	background-color: #f6f5f1;
}

  
h2 {
    font-family:georgia,serif;font-size:18px;
    font-style:italic;
    color:#3E2F2F;
    letter-spacing:0;
    line-height:1.429em;
    padding:0;
    text-align:center;
}
 
h2 span {
    font-family:baskerville,'palatino linotype',georgia,serif;
    font-size:25px;
    font-weight:100;
}

b{
	color:#FF4500;
}


.clear
{
	clear: both;
	height: 0px;
}




/* #######################################################
Top Bar
####################################################### */
.topBar
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 18px;
	background-color: #807873;
}
/* #######################################################
---/ End Top Bar
####################################################### */





/* #######################################################
Container
####################################################### */
#container
{
	margin: 0 auto;
	padding: 0;
	width: 934px;
}
/* #######################################################
---/ End Container
####################################################### */





/* #######################################################
Contact Info
####################################################### */
#container .contactInfo
{
	float: right;
	margin: 40px 0 0 0;
	padding: 0;
	font: normal 11px "Times New Roman", Times, serif;
	color: #807873;
	text-align: right;
}

#container .contactInfo ul
{
	list-style: none;
}
/* #######################################################
---/ End Contact Info
####################################################### */





/* #######################################################
Navigation Container
####################################################### */
 .navigationContainer
{
	clear: both;
	margin: 5px 0 0 0;
	padding: 0;
	height: 75px;
	text-align: left;
}
/* #######################################################
---/ End Navigation Container
####################################################### */





/* #######################################################
Logo
####################################################### */

 .navigationContainer .logo
{
	float: left;
	margin: 0;
	padding: 0;	
}

 .navigationContainer .logo img
{
	border: 0;
}
/* #######################################################
---/ End Logo
####################################################### */





/* #######################################################
Navigation
####################################################### */

 .navigationContainer .navigation
{
	float: right;
	margin: 44px 0 0 0;
	padding: 0;	
}

 .navigationContainer .navigation ul
{
	list-style: none;	
}

 .navigationContainer .navigation li
{
	margin: 0 0 0 26px;
	padding: 12px 0 0 0;
	width: 156px;
	display: inline;
	float: left;
	font: normal 12px "Times New Roman", Times, serif;
	color: #8f8f8f;
	border-top: solid 2px #b9b6b4;
}

#container .navigationContainer .navigation li a,
#container .navigationContainer .navigation li a:link,
#container .navigationContainer .navigation li a:active,
#container .navigationContainer .navigation li a:visited
{
	color: #8f8f8f;
	text-decoration: none;
	width: 156px;
}

#container .navigationContainer .navigation li a:hover
{
	color: #373431;
}

#container .navigationContainer .navigation .active
{
	margin: 0 0 0 26px;
	padding: 12px 0 0 0;
	width: 156px;
	display: inline;
	float: left;
	font: normal .75em "Times New Roman", Times, serif;
	color: #373431;
	border-top: solid 2px #373431;
}

#container .navigationContainer .navigation .active a,
#container .navigationContainer .navigation .active a:link,
#container .navigationContainer .navigation .active a:active,
#container .navigationContainer .navigation .active a:visited
{
	color: #373431;
}
/* #######################################################
---/ End Navigation
####################################################### */





/* #######################################################
Footer
####################################################### */
#container .footer
{
	clear: both;
	margin: 20px 0 20px 0;
	text-align: left;
	font: normal .5em "Times New Roman", Times, serif;
	color: #807873;
}
/* #######################################################
---/ End Footer
####################################################### */



/* NAV.pagenation
----------------------------------------------- */
.pagenation {
padding: 24px 0;
overflow: hidden; zoom: 1;
}