/* #######################################################
Grey Separator
####################################################### */
 .greySeparator
{
	clear: both;
	margin: 46px 0 0 0;
	height: 1px;
	background-color: #807873;
}
/* #######################################################
---/ End Grey Separator
####################################################### */


/* #######################################################

Contact Info

####################################################### */

#container .contactInfo

{

  float: right;
  margin: 40px 0 0 0;
  padding: 0;
  font: normal 12px "Times New Roman", Times, serif;
  color: #807873;
  text-align: right;

}

#container .contactInfo ul

{

  list-style: none;

}

/*#######################################################

End Contact Info

####################################################### */




/* #######################################################
Intro
####################################################### */
.intro
{
	clear: both;
	margin: 46px 0 0 0;
	text-align: left;
}

.intro h1
{
	margin: 0;
	padding: 0 0 5px 0;
	font: normal 3em "Georgia", Times, serif;
	color: #807873;
	font-style: italic;
}

 

.intro p
{
	margin: 25px 0 0 0;
	padding: 0;
	font: normal 1em "Georgia", Times, serif;
	color: #373431;
	line-height: 1.5em;
}

 .intro a,
 .intro a:link,
 .intro a:active,
 .intro a:visited
{
	font-style: normal;
	color: #e97004;
	text-decoration: none;
}

 .intro a:hover
{
	text-decoration: underline;
}
/* #######################################################
---/ End Intro
####################################################### */





/* #######################################################
Grey Separator Thick
####################################################### */
 .greySeparatorThick
{
	clear: both;
	margin: 46px 0 0 0;
	height: 6px;
	background-color: #807873;
}
/* #######################################################
---/ End Grey Separator Thick
####################################################### */



 