<footer>
	<div class="left">
        <span class="disclaim">&copy; 2016 Rashna Razdan.</span>
    </div>
    <div class="right footerNav">
        <ul>
        	<li>
        		<a href="https://www.facebook.com/public/Rashna-Razdan">
        			<i class="fa fa-facebook-official" aria-hidden="true"></i>
        		</a>
        	</li>
        	<li>
        		<a href="http://www.linkedin.com/in/rashnarazdan">
        			<i class="fa fa-linkedin-square" aria-hidden="true"></i>
        		</a>
        	</li>
        	<li>
        		<a href="https://dribbble.com/rrazdan">
        			<i class="fa fa-dribbble" aria-hidden="true"></i>
        		</a>
        	</li>
        	<li>
        		<a href="https://github.com/rrazd">
        			<i class="fa fa-github-square" aria-hidden="true"></i>
        		</a>
        	</li>
         </ul>
    </div>
</footer>