<footer>
	<div class="left">
        <span class="disclaim">&copy; 2016 Rashna Razdan.</span>
    </div>
    <div class="right footerNav">
        <ul>
        	<li>
        		<a target="_blank" href="mailto:rashnarazdan@gmail.com?Subject=Portfolio Website">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
        	</li>
        	<li>
        		<a target="_blank" href="http://www.linkedin.com/in/rashnarazdan">
        			<i class="fa fa-linkedin-square" aria-hidden="true"></i>
        		</a>
        	</li>
        	<li>
        		<a target="_blank" href="https://dribbble.com/rrazdan">
        			<i class="fa fa-dribbble" aria-hidden="true"></i>
        		</a>
        	</li>
        	<li>
        		<a target="_blank" href="https://github.com/rrazd">
        			<i class="fa fa-github-square" aria-hidden="true"></i>
        		</a>
        	</li>
         </ul>
    </div>
</footer>