<div id="top">
        <div id="logo">
            <img id="logoimage" src="/images/logo.png" alt="logo">   <!-- Logo image -->
            <h1 id="logotitle">Rashna Razdan</h1>   <!-- Logo text -->
        </div><!--/logo-->
    
        <nav>   <!-- Navigation Start -->
            <ul>
                <li><a href="/index.html">HOME</a></li>
                <li><a href="/portfolio.html">Work</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>      
        </nav>  <!-- Navigation End -->
 </div><!--/top-->
    