<header role="banner" class="page-wrap">
	<h1 class="branding">
			<div class="logo" href="/">
				<img src="/images/logo.png"/>
			</div> 
		<a href="/" id="owner-name">Rashna</a>

	</h1>
	<nav role="navigation">
		<ul>
			<li><a href="/" class="home">Home</a></li>
			<li><a href="/work" class="work">Work</a></li>
			<li><a href="/blog" class="blog">Blog</a></li>			
			<li><a href="/about" class="about">About</a></li>
			<li><a href = "/contact" class = "contact">Contact</a></li>	
		</ul>
	</nav>
</header>	
