/* Main Header Banner */
#nexj-tagline1 {
  width: 100%;
  height: 46.5%;
}
#nexj-tagline2 {
  width: 83.87%;
  height: 46.5%;
}
.nexj-banner {
  background-image: url(../images/nexj/nexj-banner.jpg);
}
.nexj-layer {
  background-color: rgba(151,163,186,0.65);
  height: 100%;
}
img.nexj-logo {
  width: 57.61%;
  padding-bottom: 10px;
}
/* End of Main Header Banner */

/* Research Summary */
.nexj-research-section-img {
  width: 96.27%;
}
/* End of Research Summary */

/* IA */
.nexj-wireframe-img {
  width: 96.72%;
  padding-top: 50px;
}
.nexj-ia-section-img {
  width: 100%;
}
.nexj-wireframe-label {
  padding-top: 30px;
  padding-bottom: 50px;
}
.nexj-ia-right {
	align-self: flex-start;
}
/* End of IA */

/* Visuals */
.nexj-visuals {
  width: 49.67%;
}
.nexj-image-description-visual {
  align-self: flex-start;
  padding-top: 70px;
}
nexj-bullets {
  justify-content: flex-start;
}
/* End of Visuals */

/* Prototyping */
.nexj-prototype {
  width: 43.97%;
}
.nexj-image-description-prototype {
  align-self: flex-start;
  padding-top: 30px;
}
/* End of Prototyping */

/* Results */
.nexj-result {
  width: 47.76%;
}
.nexj-image-description-result {
  align-self: flex-start;
  padding-top: 50px;
}
/* End of Results */
@media only screen and (max-width: 1120px) {
  .nexj-image-description-visual {
    padding-top: 0;
  }
}
@media only screen and (max-width: 845px) {
  .nexj-image-description-visual {
    padding-top: 0;
  }
  .nexj-visuals {
    width: 65%;
    min-width: 280px;
    max-width: 410px;
  }
  .nexj-prototype, .nexj-result {
    width: 65%;
    min-width: 270px;
    max-width: 370px;
  }
  .nexj-image-description-result {
    padding-top: 40px;
  }
}
