<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{page.description}}" name="description" />
  <meta content="{{page.keywords}}" name="keywords" />
  <meta name="author" content="Rashna Razdan">

  <link rel="stylesheet" href="assets/css/homepage.css">
  <link rel="stylesheet" href="assets/css/allProjects.css">
  <link rel="stylesheet" href="assets/css/caseStudy.css">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" href="apple-touch-icon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="apple-touch-icon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffff">

  <style type="text/css">
    .loader {
      height: 100vh;
      width: 100vw;
      background-color: #fff;
      opacity: 1;
      transition: all 0.5s ease;
      position: fixed;
      z-index: 10;
    }
  </style>

  <title>Rashna Razdan | UX Design</title>
</head>

<body class="allProjectsBody">
  <div class="loader"></div>
  {% include allProjectsHeader.html %}
      <div class="projects-page-title-container">
        <div class="all-work">/All Work</div>
        <div>USER CENTERED DESIGN</div>
        <hr>
      </div>
      <ul class="project-contents">
        <li class="project-content project-summary nexj">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-overlay"></div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container container-width">
            <div class="project-text-container">
              <div class="project-logo">
                <img class="nexj-logo" src="assets/images/nexj/nexj-logo.png">
              </div>
            <div class="project-text">
              Building the future of healthcare via a mobile first approach.
            </div>
            <a href="nexjCaseStudy" class="view-case-link">
              View case <img class="arrow" src="assets/images/allProjects/right-arrow.svg">
            </a>
          </div>
        </li>
        <li class="project-content project-summary eresources">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-overlay"></div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container container-width">
            <div class="project-text-container">
               <div class="project-logo">
                  <img class="eresources-logo" src="assets/images/eresources/eresources-logo.png">
               </div>
              <div class="project-text">
                Creating a clean website for a full-service technology firm.
              </div>
              <div class="view-case-link-container">
                <a href="eresourcesCaseStudy" class="view-case-link">
                  View case <img class="arrow" src="assets/images/allProjects/right-arrow.svg">
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
  {% include footer.html %}
  <script src="assets/js/ext/jquery-3.1.1.min.js"></script>
  <script src="assets/js/ext/jquery.lazyload.js"></script>
  <script src="assets/js/caseStudy.js"></script>
</body>
</html>
