<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{page.description}}" name="description" />
  <meta content="{{page.keywords}}" name="keywords" />
  <meta name="author" content="Rashna Razdan">

  <link rel="stylesheet" href="assets/css/homepage.css">
  <link rel="stylesheet" href="assets/css/allProjects.css">
  <link rel="stylesheet" href="assets/css/caseStudy.css">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" href="apple-touch-icon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="apple-touch-icon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffff">

  <style type="text/css">
    .loader {
      height: 100vh;
      width: 100vw;
      background-color: #fff;
      opacity: 1;
      transition: all 0.5s ease;
      position: fixed;
      z-index: 10;
    }
  </style>

  <title>Rashna Razdan | UX Design</title>
</head>

<body class="allProjectsBody">
  <div class="loader"></div>
  {% include allProjectsHeader.html %}
      <div class="projects-page-title-container">
        <div class="all-work">/All Work</div>
        <div>USER CENTERED DESIGN</div>
        <hr>
      </div>
      <ul class="project-contents">
        <!-- NEXJ -->
        <li class="project-content project-summary nexj">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-overlay"></div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container">
              <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                <canvas class="canvas-text" data-text="Web App"></canvas>
              </div>
              <div class="project-logo">
                <img class="nexj-logo" src="assets/images/nexj/nexj-logo.png">
              </div>
              <div class="project-text">
                Building the future of healthcare via a mobile first approach.
              </div>
              <a href="nexjCaseStudy" class="view-case-link">
                View case <img class="arrow" src="assets/images/allProjects/right-arrow.svg">
              </a>
            </div>
            <div class="project-result-container">
              <img src="assets/images/allProjects/nexj_result.png">
            </div>
          </div>
        </li>
        <!-- ERESOURCES -->
        <li class="project-content project-summary eresources">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-overlay"></div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container">
              <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                <canvas class="canvas-text" data-text="Website"></canvas>
              </div>
              <div class="project-logo">
                <img class="eresources-logo" src="assets/images/eresources/eresources-logo.png">
              </div>
              <div class="project-text">
                Clean website for a full-service technology firm.
              </div>
              <div class="view-case-link-container">
                <a href="eresourcesCaseStudy" class="view-case-link">
                  View case <img class="arrow" src="assets/images/allProjects/right-arrow.svg">
                </a>
              </div>
            </div>
            <div class="project-result-container">
              <img src="assets/images/allProjects/eresources_result.png">
            </div>
          </div>
        </li>
        <!-- ITERIS -->
        <li class="project-content project-summary iteris">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-overlay"></div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container">
              <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                <canvas class="canvas-text" data-text="Website"></canvas>
              </div>
              <div class="project-logo">
                <img class="iteris-logo" src="assets/images/iteris/iteris-logo.svg">
              </div>
              <div class="project-text">
                Multi phase website redesign to improve UX.
              </div>
              <div class="view-case-link-container">
                <a href="eresourcesCaseStudy" class="view-case-link">
                  View case <img class="arrow" src="assets/images/allProjects/right-arrow.svg">
                </a>
              </div>
            </div>
            <div class="project-result-container">
              <img src="assets/images/allProjects/iteris_result.png">
            </div>
          </div>
        </li>
        <!-- HPE -->
        <li class="project-content project-summary hpe">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-overlay"></div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container">
              <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                <canvas class="canvas-text" data-text="Web app"></canvas>
              </div>
              <div class="project-logo">
                <img class="hpe-logo" src="assets/images/allProjects/hpe-logo.svg">
              </div>
              <div class="project-text">
                Responsive application designed to present complex data.
              </div>
              <div class="view-case-link-container">
                <a href="eresourcesCaseStudy" class="view-case-link">
                  Learn more <img class="arrow" src="assets/images/allProjects/right-arrow.svg">
                </a>
              </div>
            </div>
            <div class="project-result-container">
              <img src="assets/images/allProjects/hpe_result.png">
            </div>
          </div>
        </li>
        <!-- RIVERBED -->
        <li class="project-content project-summary riverbed">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-overlay"></div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container">
              <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                <canvas class="canvas-text" data-text="Website"></canvas>
              </div>
              <div class="project-logo">
                <img class="riverbed-logo" src="assets/images/allProjects/riverbed-logo.svg">
              </div>
              <div class="project-text">
                Creating a steamlined user experience leveraging analytics.
              </div>
              <div class="view-case-link-container">
                <a href="eresourcesCaseStudy" class="view-case-link">
                  Learn more <img class="arrow" src="assets/images/allProjects/right-arrow.svg">
                </a>
              </div>
            </div>
            <div class="project-result-container">
              <img src="assets/images/allProjects/riverbed_result.png">
            </div>
          </div>
        </li>
        <!-- MCAFEE -->
        <li class="project-content project-summary mcafee">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-overlay"></div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container">
              <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                <canvas class="canvas-text" data-text="Website"></canvas>
              </div>
              <div class="project-logo">
                <img class="mcafee-logo" src="assets/images/allProjects/mcafee-logo.svg">
              </div>
              <div class="project-text">
                Revamping a tech giant's website to increase engagement.
              </div>
              <div class="view-case-link-container">
                <a href="eresourcesCaseStudy" class="view-case-link">
                  Learn more <img class="arrow" src="assets/images/allProjects/right-arrow.svg">
                </a>
              </div>
            </div>
            <div class="project-result-container">
              <img src="assets/images/allProjects/mcafee_result.png">
            </div>
          </div>
        </li>
        <li class="project-content project-summary end">
          <p>
            Good job, you've reached the end <span class="clap">&#x1f44f;</span> If you'd like to learn more about non-confidental aspects of my design process on other projects such as Couchbase, GoAnimate, CISCO, WekaIO, General Catalyst and more, please do <a href="">get in touch</a>.
          </p>
        </li>
      </ul>
  {% include footer.html %}
  <script src="assets/js/ext/jquery-3.1.1.min.js"></script>
  <script src="assets/js/ext/jquery.lazyload.js"></script>
  <script src="assets/js/caseStudy.js"></script>
</body>
</html>
