<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{page.description}}" name="description" />
  <meta content="{{page.keywords}}" name="keywords" />
  <meta name="author" content="Rashna Razdan">

  <link rel="stylesheet" href="assets/css/homepage.css">
  <link rel="stylesheet" href="assets/css/allProjects.css">
  <link rel="stylesheet" href="assets/css/caseStudy.css">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" href="apple-touch-icon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="apple-touch-icon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffff">

  <style type="text/css">
    .loader {
      height: 100vh;
      width: 100vw;
      background-color: #fff;
      opacity: 1;
      transition: all 0.5s ease;
      position: fixed;
      z-index: 10;
    }
  </style>

  <title>Rashna Razdan | UX Design</title>
</head>

<body class="all-projects-body">
  <div class="loader"></div>
  {% include allProjectsHeader.html %}
  <div class="all-projects">
    <div class="all-projects-left">
      <div class="projects-page-title-container">
        <div class="all-work">/All Work</div>
        <div>USER</div>
        <div>CENTERED</div>
        <div>DESIGN</div>
      </div>
      <ul class="project-contents">
        <li class="project-content active">
          eResources description
        </li>
        <li class="project-content">
          Iteris description
        </li>
      </ul>
    </div>
    <div class="all-projects-right">
      <ul class="project-links">
        <li class="project-link" data-project="eresources">eResources</li>
        <li class="project-link" data-project="iteris">Iteris</li>
      </ul>
    </div>
  </div>


  <script src="assets/js/ext/jquery-3.1.1.min.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/allProjects.js"></script>
</body>
</html>
