<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{page.description}}" name="description" />
  <meta content="{{page.keywords}}" name="keywords" />
  <meta name="author" content="Rashna Razdan">

  <link rel="stylesheet" href="assets/css/jquery.fullPage.css">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/custom.css">
  <link rel="stylesheet" href="assets/css/three.css">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" href="apple-touch-icon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="apple-touch-icon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffff">

  <style type="text/css">
    .loader {
      height: 100vh;
      width: 100vw;
      background-color: #0000ff;
    }
  </style>

  <title>Rashna Razdan | UX Design</title>

</head>
<body>
  <div class="loader"></div>
  <header>
    <div class="clearfix">
      <a href="#welcome" class="logo">
        <svg width="31px" height="40px" viewBox="0 0 37 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>logo</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="svg_logo" stroke="none" stroke-width="1" fill-rule="evenodd">
            <g id="Desktop-Copy" transform="translate(-47.000000, -35.000000)">
                <g id="logo" transform="translate(47.000000, 35.000000)">
                    <polygon class="shape" id="Rectangle-1" fill="#ffffff" points="-1.77635684e-15 22 8.18181818 22 25.4545455 44.95 16.8181818 44.95"></polygon>
                    <path class="shape" id="Rectangle-2" fill="#ffffff" d="M4.56587318,6.94466107 L0.433575492,0.468250709 C1.88173916,0.411291692 9.06288825,0.136128655 12.6420455,0.136128655 C26.3778445,0.136128655 30,4.82224446 30,14.0983064 C30,22.5812293 25.991507,26.1678472 17.7822876,26.7191687 L13.722549,21.2389536 C14.1039397,21.2777565 14.484372,21.2978044 14.8609423,21.2978044 C19.679345,21.2978044 23.4044527,20.1596888 23.4044527,14.1591218 C23.4044527,8.15855486 20.2072203,6.9063034 13.3163265,6.9063034 C12.8417759,6.9063034 12.3912099,6.92241135 11.9635756,6.95366817 L11.9666048,6.94350014 L4.56587318,6.94466107 Z" id="Combined-Shape"></path>
                    <rect class="shape" id="Rectangle-3" fill="#ffffff" x="31" y="38" width="6" height="7"></rect>
                </g>
            </g>
          </g>
        </svg>
      </a>
      <nav class="top-menu">
        <ul>
          <li data-menuanchor="caseStudy1"><a href="#caseStudy1">Projects</a></li>
          <li data-menuanchor="about"><a href="#about">About</a></li>
          <li data-menuanchor="contact"><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <!-- Hamburger, yum! -->
      <a href="#" class="toggle-menu">
          <span></span>
      </a>
      <!-- Mobile menu -->
      <div id="mobile-menu">
        <div class="inner-wrap">
          <nav>
            <ul class="nav_menu">
              <li data-menuanchor="welcome" class="menu-item">
                <a href="#welcome">Home</a>
              </li>
              <li data-menuanchor="caseStudy1" class="menu-item">
                <a href="#caseStudy1">Projects</a>
              </li>
              <li data-menuanchor="about" class="menu-item">
                <a href="#about">About</a>
              </li>
              <li data-menuanchor="contact" class="menu-item">
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <ul id="page-menu">
    <li data-menuanchor="welcome">
      <a href="#welcome">01</a>
      <div class="v-line"></div>
    </li>
    <li data-menuanchor="caseStudy1">
      <a href="#caseStudy1">02</a>
      <div class="v-line"></div>
    </li>
    <li data-menuanchor="caseStudy2">
      <a href="#caseStudy2">03</a>
      <div class="v-line">
        <div class="inner-block"></div>
      </div>
    </li>
    <li data-menuanchor="caseStudy3">
      <a href="#caseStudy3">04</a>
      <div class="v-line">
        <div class="inner-block"></div>
      </div>
    </li>
    <li data-menuanchor="about">
      <a href="#about">05</a>
      <div class="v-line">
        <div class="inner-block"></div>
      </div>
    </li>
    <li data-menuanchor="contact">
      <a href="#contact">06</a>
      <div class="v-line">
        <div class="inner-block"></div>
      </div>
    </li>
  </ul>

  <div id="fullpage">
    <div class="section section-welcome">
      <div id="three-js-container"></div>
      <div class="section-content">
        <h3 class="hero-name">rashna razdan</h3>
        <h1 class="hero-tagline">UX Designer</h1>
        <a href="#contact" class="btn btn-main">GET IN TOUCH</a>
      </div>
      <div class="go-down">
        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
      </div>
    </div>
    <div class="section section-caseStudy1">
      <div class="case-text left">
        <div class="case-title">NexJ Health</div>
        <div class="description case-descriptor-space">UX design and development of responsive cloud based platform.</div>
        <div class="description"><a href="http://google.com">View case study <img class="arrow" src="" data-src="assets/images/right_arrow.svg"></a></div>
      </div>
      <div class="nexj">
        <div class="screen">
          <video class="nexj-video" poster="/assets/images/nexj-video-poster.png" data-autoplay data-keepplaying>
            <source src="/assets/videos/nexj_macbook_video.mp4" type="video/mp4">
            <source src="/assets/videos/nexj_macbook_video.webm" type="video/webm">
          </video>
        </div>
        <img class="macbook" src="/assets/images/caseStudy1.png">
      </div>
    </div>
    <div class="section section-caseStudy2">
      <div class="ipad">
        <img src="" data-src="assets/images/caseStudy2.png" class="case-img left ipad-body">
        <img src="" data-src="assets/images/caseStudy2-shadow.png" class="shadow">
      </div>
      <div class="case-text">
        <div class="case-title">eResources</div>
        <div class="description case-descriptor-space">UX/UI design of responsive web site for IT on Demand, an IT management service.</div>
        <div class="description"><a class="green" href="http://google.com">View case study <img class="arrow" src="" data-src="assets/images/right_arrow_green.svg"></a></div>
      </div>
    </div>
    <div class="section section-caseStudy3">
      <div class="case-text left">
        <div class="case-title">Iteris</div>
        <div class="description case-descriptor-space">
          In-depth competitive research, information architecture and UX design of responsive website.
        </div>
        <div class="description">
          <a href="http://google.com">View case study <img class="arrow" src="" data-src="assets/images/right_arrow.svg"></a>
        </div>
      </div>
      <div class="iteris-devices">
        <div class="screen">
          <video class="iteris-video" poster="/assets/images/iteris-video-poster.png" data-autoplay data-keepplaying loop>
            <source data-src="/assets/videos/caseStudy3_imac_video.mp4" type="video/mp4">
            <source data-src="/assets/videos/caseStudy3_imac_video.webm" type="video/webm">
          </video>
        </div>
        <img class="imac" data-src="/assets/images/caseStudy3_imac.png">
        <img class="tablet" data-src="assets/images/caseStudy3_tablet.png">
      </div>
    </div>
    <div class="section section-about">
      <div class="about-me">
        <h1 class="aloha">Aloha.</h1>
        <div class="about-me-blurb">
          <p>
          Hi, I am Rashna. I currently work as a <span class="emphasize">UX Designer</span> at <span class="emphasize">WebEnertia</span>, a design agency in the heart of Silicon Valley. My background is half design – half development. While working in the industry I have been part of <span class="emphasize">leading</span> both design and software development lifecycles while employing <span class="emphasize">agile principles</span>.
          </p>
          <p class="my-experience">
          As a UX designer at Webenertia I have had the unique opportunity to work with many <span class="emphasize">amazing organizations</span>, from global corporations like Hewlett Packard Enterprise and CISCO, to emerging startups.
          </p>
          <p class="my-approach">
          My approach to projects involve these main phases: Discovery, Strategy, Design, Prototype, Test, Handover & Support.
          </p>
        </div>
        <a href="http://google.com" class="btn btn-about-me-linkedin">SEE LINKEDIN</a>
        <a href="assets/files/resume.pdf" class="btn btn-about-me-resume">SEE RESUME</a>
      </div>
      <div class="timeline"><img src="" data-src="assets/images/timeline.svg"></div>
    </div>
    <div class="section section-contact">
      <div class="my-picture-container">
          <img class="my-picture" src="" data-src="assets/images/me.png">
          <a href=""><img class="hire-me" src="" data-src="/assets/images/hire_me.svg"></a>
      </div>
      <div class="contact-tagline">
        So... Looking for a UX Designer?
      </div>
      <a class="btn contact-btn-green">
        GET IN TOUCH
      </a>
      <a class="btn contact-btn-blue">
        SEE MY WORK HISTORY
      </a>
      <!-- <footer>
        <div class="right footerNav">
          <ul>
            <li>
              <a target="_blank" href="mailto:rashnarazdan@gmail.com?Subject=Portfolio Website">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                  </a>
            </li>
            <li>
              <a target="_blank" href="http://www.linkedin.com/in/rashnarazdan">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://dribbble.com/rrazdan">
                <i class="fa fa-dribbble" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://github.com/rrazd">
                <i class="fa fa-github-square" aria-hidden="true"></i>
              </a>
            </li>
           </ul>
          </div>
          <div class="left">
            <span class="disclaim">&copy; Copyright 2017 Rashna Razdan. All rights reserved.</span>
          </div>
      </footer> -->
    </div>
  </div>
  <script src="assets/js/three.js"></script>
  <script src="assets/js/initThree.js"></script>
  <script src="assets/js/projector.js"></script>
  <script src="assets/js/renderableVertex.js"></script>
  <script src="assets/js/canvasRenderer.js"></script>
  <script src="assets/js/jquery-3.1.1.min.js"></script>
  <script src="assets/js/jquery.fullPage.js"></script>
  <script src="assets/js/main.js"></script>
  </body>
</html>
