<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Sctict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<title>{{ page.title }}</title>
		<meta name="author" content="Rashna Razdan"/>
		<link rel="stylesheet" href="/css/styles.css" />
		<link href='http://fonts.googleapis.com/css?family=Metamorphous' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
		<link rel="icon" 
		      type="image/png" 
		      href="images/favicon.png" />
		
	</head>

	<div id="header">
		<div id="me">
			<a href="/">
				<span id="Rashna">RASHNA</span>
				<span id="Razdan">Razdan</span>
			</a>
		</div>		
		<div id="mousing">&nbsp;</div>
			<div class="site"></div>
			
				<!-- <div id="sections">  -->
				<div id="sidebar">	
					<div id="mainnav">
 						<ul>
							<li class="active"><a href="/" class="upperlink">
								<img src="/images/home-icon.jpg" /><br/>Home</a>
							</li>
							<br/>
							<li>
								<a href="portfolio.html" class="upperlink">
								<img src="/images/project-icon.jpg" /><br/>Portfolio</a>
							</li>
							<br/>
							<li><a href="/about.html" class="lowerlink">
								<img src="/images/about-icon.jpg" /><br/>About</a>
							</li>
							<br/>
							<br/>
							<br/>
								<li><a href="https://github.com/rrazd" class="lowerlink"  target="_target">
									<img src="/images/git-icon.jpg"/><br/><br/>GitHub</a>
								</li>
							
						</ul>
				</div>
			</div>	
		</div>
		
	</div>
	<body>
 		<div id="header"></div>
		{{ content }}
        
 	</body>
</html>