---
layout: default
---
<div class="page-wrap">

<article class="{{ page.category }} single" role="main">

	<header>
		{% if page.category == 'blog' %}
			<time class="post-date">{{ page.date | date: "%B %d, %Y" }}</time>
		&nbsp;
		{% for tag in page.tags %}
 				<a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a>
 		{% endfor %}	

		{% endif %}
		<h1 class="main-title">{{ page.title }}</h1>
	</header>

	{{ content }}

	{% if page.category != 'about' and page.category != 'contact' %}
		<a href="/{{ page.category }}/" title="{{ page.category }}" class="large btn">Back to all posts</a>
	{% endif %}

</article>

</div>
