<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{page.description}}" name="description" />
  <meta content="{{page.keywords}}" name="keywords" />
  <meta name="author" content="Rashna Razdan">

  <link rel="stylesheet" href="assets/css/homepage.css">
  <link rel="stylesheet" href="assets/css/caseStudy.css">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" href="apple-touch-icon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="apple-touch-icon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffff">

  <style type="text/css">
    .loader {
      height: 100vh;
      width: 100vw;
      background-color: #fff;
    }
  </style>

  <title>Rashna Razdan | UX Design</title>

</head>
<body>
  <div class="loader"></div>
  {% include caseStudyHeader.html %}
  <div class="banner flex-container">
    <div class="left-container">
      <img class="nexj-logo" src="assets/images/nexj/nexj-logo.png">
      <div class="nexj-description">
        Making engaging with the healthcare system easier.
      </div>
    </div>
    <div class="right-container">
      <img class="nexj-banner-display" src="assets/images/nexj/banner-display.png">
    </div>
  </div>
  <div class="project-summary flex-container">
    <div class="story">
      <div class="title">Lorem Ipsum Dolores</div>
      <div class="description">
        Lorem Ipsum Dolores Sit Amet. Lorem Ipsum Dolores Sit. Lorem Ipsum Dolores Sit Amet. Lorem Ipsum Dolores Sit Amet. Lorem Ipsum Dolores Sit. Lorem Ipsum Dolores Sit Amet.Lorem Ipsum Dolores Sit Amet. Lorem Ipsum Dolores Sit. Lorem Ipsum Dolores Sit Amet.
      </div>
    </div>
    <div class="role">

    </div>
  </div>

  <!-- Use the below as an example for lazy loading images -->
  <!-- <img data-original="assets/images/nexj/nexj-banner.jpg" alt="nexj-banner" class="lazy" style="width: 100%;"> -->


  <!-- {% include footer.html %} -->
  <script src="assets/js/ext/jquery-3.1.1.min.js"></script>
  <script src="assets/js/ext/jquery.fullPage.js"></script>
  <script src="assets/js/ext/jquery.lazyload.js"></script>
  <script src="assets/js/caseStudy.js"></script>
</body>
</html>
