---
layout: layout
---
<!-- Begin about content -->
  <div class="intro">
   <p>
 
   		{{ content }}

 	</p>
	<nav class="pagenation">
	<ul>
	{% if page.previous %}
	<li><p><a rel="prev" href="{{ page.previous.url }}" title="View {{ page.previous.title }}">Before</a>
	{% endif %}
	&nbsp;&nbsp;&nbsp;&nbsp;..........................&nbsp;&nbsp;&nbsp;
	{% if page.next %}
	<a rel="next" href="{{ page.next.url }}"  title="View {{ page.next.title }}">Next</a></p></li>
	{% endif %}
	</ul>
	</nav>
 
 </div>