---
layout: layout
---
<!-- Begin about content -->
  <div class="aboutContent">
  	<!-- Begin content -->
      <div class="description">
 
   {{ content }}

 
	<nav class="pagenation">
	<ul>
	{% if page.previous %}
	<li class="before left"><p><a rel="prev" href="{{ page.previous.url }}" title="View {{ page.previous.title }}">Before</a><p></li>
	{% endif %}
	{% if page.next %}
	<li class="next right"><p><a rel="next" href="{{ page.next.url }}"  title="View {{ page.next.title }}">Next</a></p></li>
	{% endif %}
	</ul>
	</nav>
 
</div>
</div>