---
layout: default
---
<div class = "page-wrap">
<h1 class="main-title">{{page.title}}</h1>

<ul>
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
  <li class="archive_list">
    <time class="post-date" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%m/%d/%y"}} &nbsp;</time><a class = "title" href='{{post.url}}'>{{post.title}}</a> 
   </li>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>
 
 <h7>
Tags:
 {% for tag in site.tags %}
      |<a href="/tag/{{ tag[0] }}" id="{{ forloop.index }}" class="__tag" style="margin: 5px">{{ tag[0] }}</a>|
   
 {% endfor %}
</h7>
</div>